
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5

# wayland display for xwayland apps
export GTK_CSD=1
export QT_QPA_PLATFORM=wayland
export QT_QPA_PLATFORM=xcb
export GTK_BACKEND=wayland

# export WAYLAND_DISPLAY=wayland-1
export CODE_OZONE_PLATFORM=wayland code
export DISPLAY=$WAYLAND_DISPLAY
export MOZ_ENABLE_WAYLAND=1

# fix scaling wayland for jetbrains
export _JAVA_OPTIONS='-Dsun.java2d.uiScale=2 -Dsun.java2d.dpiaware=true'

# enable ibus bamboo start with system
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
ibus-daemon -drx

